/* AUTH PAGE STYLES */
.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background: rgba(245, 245, 245, 0.95);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.auth-container h2 {
  color: #F59933;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

.auth-container form input {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-container form button {
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
  background-color: #ed9c3e;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container form button:hover {
  background-color: #F54438;
}

.auth-container .switch-link {
  margin-top: 20px;
  display: block;
  font-size: 15px;
  color: #F59933;
  text-decoration: underline;
  cursor: pointer;
}

.auth-container .switch-link:hover {
  color: #ed9c3e;
}